:root {
  --accent: #d4a017;
  --bg: #1a1a1a;
  --bg-pattern: #4e4e4e;
  --n-bg: #145d6473;
  --n-border: #aaa;
  --n-text: white;
  --p-bg: white;
  --p-border: #aaa;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#editor {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: var(--bg);
    background-image: radial-gradient(var(--bg-pattern) 1px, transparent 0);
    background-size: 20px 20px;
    background-position: 10px 10px;
}

#viewport {
    position: absolute;
    overflow: visible;
    transform-origin: 0 0;
}

.node {
    position: absolute;
    width: 120px;
    height: 60px;
    background: var(--n-bg);
    border: 2px solid var(--n-border);
    border-radius: 8px;
    color: var(--n-text);
    text-align: center;
    line-height: 60px;
    user-select: none;
    cursor: pointer;
}

.port {
    width: 14px;
    height: 14px;
    background: var(--p-bg);
    border-radius: 50%;
    border: 4px solid var(--p-border);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.port:hover {
    border-color: var(--accent);
}

.connection:hover {
    stroke: var(--accent);
    stroke-width: 4;
}

.input {
    left: -11px;
}

.output {
    right: -11px;
}

svg {
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

path {
    pointer-events: auto;
}

.active {
    border-color: var(--accent);
}