:root {
    --accent: #d4a017;
    --bg: #1a1a1a;
    --bg-pattern: #4e4e4e;
    --n-bg: #145d6473;
    --n-border: #aaa;
    --n-text: white;
    --p-bg: white;
    --p-border: #aaa;
    --ctx-menu-bg: #145d64aa;
    --ctx-menu-border: white;
    --ctx-menu-btn: white;
    --ctx-menu-btn-hover: black;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#editor {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: var(--bg);
    background-image: radial-gradient(var(--bg-pattern) 1px, transparent 0);
    background-size: 20px 20px;
    background-position: 10px 10px;
}

#viewport {
    position: absolute;
    overflow: visible;
    transform-origin: 0 0;
}

.node {
    position: absolute;
    width: 120px;
    height: 60px;
    background: var(--n-bg);
    border: 2px solid var(--n-border);
    border-radius: 8px;
    color: var(--n-text);
    text-align: center;
    line-height: 60px;
    user-select: none;
    cursor: pointer;
}

.node.disabled {
    opacity: 50%;
}

.port {
    width: 14px;
    height: 14px;
    background: var(--p-bg);
    border: 4px solid var(--p-border);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.port:hover {
    border-color: var(--accent);
}

.connection {
    stroke: white;
    stroke-width: 6;
    fill: none;
    cursor: pointer;
    pointer-events: auto;
}

.connection:hover {
    stroke: var(--accent);
}

.preview-connection {
    stroke: gray;
    stroke-width: 6;
    stroke-dasharray: 4, 4;
    fill: none;
}

.input {
    left: -11px;
    border-radius: 50%;
}

.output {
    right: -11px;
    width: 12px;
    height: 12px;
    transform: translateY(-50%) rotate(45deg);
}

svg {
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.active {
    border-color: var(--accent);
}

.ctx-menu {
    position: absolute;
    background-color: var(--ctx-menu-bg);
    width: 12rem;
    border: 1px dashed var(--ctx-menu-border);
}

.ctx-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ctx-menu ul li {
    height: 100%;
}

.ctx-menu-btn {
    display: flex;
    justify-content: space-between;
    color: var(--ctx-menu-btn);
    background: none;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    font-family: monospace;
    font-size: 14px;
    width: 100%;
}

.ctx-menu-btn .shortcut {
    opacity: 70%;
    font-size: 12px;
}

.ctx-menu-btn:hover {
    background-color: var(--accent);
    color: var(--ctx-menu-btn-hover);
}

.selection {
  position: absolute;
  border: 1px dashed var(--accent);
  background-color: #d4a0170f;
  display: block;
  pointer-events: none;
}

.selection-bounds {
  position: absolute;
  border: 1px dashed var(--accent);
  pointer-events: all;
  cursor: move;
}